user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    server_names_hash_bucket_size 128;
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format json_log '{'
      # $arg_*
      # $args
      # $binary_remote_addr
      '"body_bytes_sent":"$body_bytes_sent",'
      '"bytes_sent":"$bytes_sent",'
      '"connection":"$connection",'
      # $connection_requests
      # $content_length
      # $content_type
      # $cookie_*
      # $document_root
      # $document_uri
      '"host":"$host",'
      '"hostname":"$hostname",'
      '"http_cookie":"$http_cookie",'
      '"http_dnt":"$http_dnt",'
      '"http_referer":"$http_referer",'
      '"http_user_agent":"$http_user_agent",'
      '"http_x_forwarded_for":"$http_x_forwarded_for",'
      '"http_x_forwarded_proto":"$http_x_forwarded_proto",'
      # $http_*
      # $https'
      # $is_args
      # $limit_rate
      '"msec":"$msec",'
      # $nginx_version
      # $pid
      # $pipe
      # $proxy_protocol_addr
      '"query_string":"$query_string",'
      # $realpath_root
      '"remote_addr":"$remote_addr",'
      # $remote_port
      # $remote_user
      '"request":"$request",'
      # $request_body
      # $request_body_file
      # $request_completion
      # $request_filename
      # $request_length
      '"request_method":"$request_method",'
      '"request_time":"$request_time",'
      # $request_uri
      # $scheme
      # $sent_http_*
      # $server_addr
      '"server_name":"$server_name",'
      '"server_port":"$server_port",'
      '"server_protocol":"$server_protocol",'
      '"status":"$status",'
      # $tcpinfo_rtt
      # $tcpinfo_rttvar
      # $tcpinfo_snd_cwnd
      # $tcpinfo_rcv_space
      '"time_iso8601":"$time_iso8601",'
      '"time_local":"$time_local",'
      '"uri":"$uri"'
    '}';

    access_log  syslog:server=logstash.kw.services:12204,facility=local1,tag=nginx_proxy,severity=info json_log;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    #
    # Registrator Endpoints
    #
    {{if lsdir "/services/" }}
    {{range $service := lsdir "/services/"}}
    upstream {{base $service}} { {{ $endpoint := printf "/services/%s/*" $service}}
        {{range gets $endpoint}}server {{.Value}};
        {{end}}
    }
    {{end}}
    {{end}}

    #
    # Hosts
    #

    {{if lsdir "/nginx/hosts/"}}
    {{range $host := lsdir "/nginx/hosts/"}}
      server {
        listen 80;
        {{ $server := base $host }}
        server_name {{$server}};

        {{ $proxy_path := printf "/nginx/hosts/%s/upstream" $server }}# $proxy_path: {{ $proxy_path }}
        {{ $ssl_path := printf "/nginx/hosts/%s/ssl_only" $server }}# $ssl_path: {{ $ssl_path }}
        {{ $secured_path := printf "/nginx/hosts/%s/secured" $server }}# $secured_path: {{ $secured_path }}

        {{ if ls $ssl_path }}
          {{ $ssl_only := getv $ssl_path }}
          {{ if eq $ssl_only "on" }}
            if ($http_x_forwarded_proto != "https") {
              rewrite ^ https://$server_name$request_uri? permanent;
            }
          {{ end }}
        {{ end }}


        {{ $service_name := getv $proxy_path }}# $service name: {{ $service_name }}
        {{ $service_path := printf "/services/%s/" $service_name }}# $service_path: {{ $service_path }}
        {{ if ls $service_path }}
        location / {
          proxy_pass http://{{$service_name}};
          proxy_redirect off;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;

          {{ if ls $secured_path }}
            {{ $secured := getv $secured_path }}
            # $secured: {{ $secured }}
            {{ if eq $secured "on" }}
              auth_basic            "Secured";
              auth_basic_user_file  /etc/nginx/secure.htpasswd;
            {{ end }}
          {{ end }}

        }
        {{ end }}
    }
    {{end}}
    {{end}}


    include /etc/nginx/conf.d/*.conf;
}
